@import "tailwindcss";
@config "../tailwind.config.js";

@theme {
  --color-marcone-red: #d22640;
  --color-marcone-light-grey: #F4F3F2;
  --color-marcone-dark-grey: #777;
}

@layer base {
  body {
    @apply bg-gradient-to-br from-gray-100 to-gray-300 min-h-screen text-slate-900;
  }
}

/* Glassmorphism Utility */
.glass {
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}